* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    background: #fafafa;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.left {
    max-width: 420px;
}

.insta-header {
    margin-bottom: 30px;
}

.insta-img {
    width: 70px;
    display: block;
}


.promo-text {
    font-size: 26px;
    line-height: 1.4;
}

.orange {
    color: #ff5c00;
}

.pink {
    color: #e1306c;
}

.phone-img {
    margin-top: 40px;
    width: 300px;
}

.vertical-line {
    width: 1px;
    height: 600px;
    background: #dbdbdb;
}

.right {
    max-width: 400px;
    width: 100%;
}

.right_text {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 12px;
}

.form-group input {
    width: 100%;
    padding: 18px 20px;
    font-size: 15px;
    border-radius: 13px;
    border: 1px solid #b1c5cf;
}

.form-group input::placeholder {
    font-weight: bold;
    opacity: 0.7;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #7bb4ed;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
}

.forgot-password {
    display: block;
    margin: 15px 0;
    text-align: center;
    color: black;
    text-decoration: none;
}

.loginfacebook {
    width: 100%;
    padding: 12px;
    background: white;
    border: 1px solid #b3b9bf;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.create-btn {
    width: 100%;
    padding: 12px;
    border: 1px solid #1546c1;
    color: #1546c1;
    background: white;
    border-radius: 30px;
    margin-top: 10px;
}

.meta {
    text-align: center;
    margin-top: 30px;
    color: #8e8e8e;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    font-size: 12px;
    color: #8e8e8e;
    padding: 20px;
}

@media (max-width: 1120px) {
    .left,
    .vertical-line {
        display: none;
    }

    .container {
        gap: 0;
    }
}

@media (max-width: 768px) {
    .right {
        max-width: 90%;
    }
}
